selector {
  --variable-name: value;
}

:root{
  --nav-head-color: white;
}

.nav-items{
  display: flex;
  flex-direction: column;
  width: 12%;
}

.nav-items > a{
    color: var(--nav-head-color);
    background-color: black;
    height: 30px;        
    text-decoration: none;
}

