html{
  overflow: hidden;
}
selector {
  --variable-name: value;
}

:root{
  --nav-head-color: white;
  --const-color: green;
}

/* Media Query */

@media only screen and (max-width: 1176px) {
/* 
  .nav-side{
    position: absolute !important;
    width: 100vw !important;
    z-index: 10000 !important;
  }

  .nav-items{
    flex-direction: row !important;
  } */

  .container{
    left: 0px !important;
    width: 100vw !important;
    padding:  0px;
    transition: left 0.2s cubic-bezier(0.42, 0, 0.58, 1)  , padding 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  .navbar{
    background-color: var(--const-color);
    position: relative;
    left: 0px;
    height: 60px;
    z-index: 100;
  }

  .q-name{
     color: white;
     padding: 18px;
     font-size: 1.3rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .q-navbar{
    position: absolute;
    top: 15px;
    left: 600px;
    font-size: 1.4rem; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .q-navbar > a{
    text-decoration: none;
    margin-right: 12px;
    color: white;
  }

  .q-border{
    border-bottom: 3px solid white;
    border-radius: .2rem;
    transition: border-bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  }

  .about-container{
     font-size: 5rem !important;
  }

  .about-points{
     font-size: 1.2rem !important;
  }

  .about-me > i span{
     font-size: 1rem !important;
  }

}

@media only screen and (max-width: 1015px ) {
   .q-navbar{
    left: 580px !important;
    transition: left 0.2s cubic-bezier(0.42, 0, 0.58, 1);
   }
}

@media only screen and (max-width: 993px ) {
  .q-navbar{
   left: 560px !important;
  }
}

@media only screen and (max-width: 975px ) {
  .q-navbar{
   left: 530px !important;
  }
}

@media only screen and (max-width: 946px ) {
  .q-navbar{
   left: 500px !important;
  }
}

@media only screen and (max-width: 918px ) {
  .q-navbar{
   left: 470px !important;
  }
}

@media only screen and (max-width: 889px ) {
  .q-navbar{
   left: 430px !important;
  }
}

@media only screen and (max-width: 848px ) {
  .q-navbar{
   left: 380px !important;
  }
}

@media only screen and (max-width: 796px ) {
  .q-navbar{
   left: 340px !important;
  }
}

@media only screen and (max-width: 757px ) {
  .q-navbar{
   left: 500px !important;
  }
  .about-container{
     font-size: 4rem !important;
     transition: font-size 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  }
  .social-profiles{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 683px ) {
  .q-navbar{
   left: 480px !important;
  }
}

@media only screen and (max-width: 664px ) {
  .q-navbar{
   left: 460px !important;
  }
}

@media only screen and (max-width: 642px ) {
  .q-navbar{
   left: 430px !important;
  }
}

@media only screen and (max-width: 615px ) {
  .q-navbar{
   left: 400px !important;
  }
}

@media only screen and (max-width: 585px ) {
  .q-navbar{
   left: 370px !important;
  }
}




/*  */

/* Navbar ITEMS-------------------------------------------- */
.nav-side{
  background-color: #333;
  height: 100vh;
  width: 18vw;
}
.nav-items {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.nav-items > a {
  color: var(--nav-head-color);
  background-color: #333;
  height: 18px;
  padding: 19px;
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 0.1px solid #3b3b3b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.border{
  border-left: 5px solid var(--const-color);
  color: var(--const-color) !important;
  transition: border-left 0.3s cubic-bezier(0.42, 0, 0.58, 1), color 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.br-none{
  border-left: none;
  color: white;
}

.navbar{
  flex: flex;
  flex-direction: row !important;
}

/* -------------------------------------------------------- */

/* Screen ------------------------------------------------ */
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 18vw; /* adjust this value as needed */
  top: 0px;
  border-left: 1px solid #333;
  background-color: red;
  width: calc(100vw - 18vw); /* calculate the remaining width */
  
}

/* ------------------------------------------------------- */

/* Profile ---------------------------------------------- */

.profile{
  background-color:#212121;
  width: 18vw;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  height: 30vh;
  padding-bottom: 40px;
  color: var(--nav-head-color);
}

.profile img{
   border-radius: 50%;
   width: 80px;
   height: 80px;
   padding: 10px;
   margin-left: 1.3vw;
   background-color: #333;
}

.name{
  margin-top: -3px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
  color: gray;
  font-size: 0.9rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title:first-of-type{
   padding-left: 6px;
   padding-bottom: 1px;
}

/* About Section */

.about-container{
  background-color: #212121;
  font-size: 7rem;
  padding: 90px 10px 20px 30px;
  height: 100vh;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--const-color);
}

.first-name{
  border: 1px solid var(--const-color);
  border-radius: 0.2rem;
  background-color: var(--const-color);
  padding: 4px;
  color: white;
}

.about-points{
  color: white;
  margin-left: -19px;
  margin-top: 30px;
  font-size: 1.4rem;
}

.about-points > li{
  margin-top: 3px;
}

.about-me{
  font-size: 1.2rem;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-me > i{
  margin-bottom: 15px;
}

.about-me > i span{
  padding: 10px;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social-profiles{
  position: relative;
  top: -40px;
}


.social-profiles a{
   color: var(--const-color);
   font-size:3.3rem;
   margin-right: 15px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social-profiles button{
  font-size: 1.3rem;
  height: 50px;
  position: relative;
  top: -10px;
  background-color: var(--const-color);
  color: white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}

.social-profiles button i{
  margin-right: 10px;
}
