html{
  overflow: hidden;
}
selector {
  --variable-name: value;
}

:root{
  --nav-head-color: white;
  --const-color: green;
}

/* Navbar ITEMS-------------------------------------------- */
.nav-side{
  background-color: #333;
  height: 100vh;
  width: 18vw;
}
.nav-items {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.nav-items > a {
  color: var(--nav-head-color);
  background-color: #333;
  height: 18px;
  padding: 19px;
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 0.1px solid gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.border{
  border-left: 5px solid var(--const-color);
  color: var(--const-color) !important;
}

.br-none{
  border-left: none;
  color: white;
}

/* -------------------------------------------------------- */

/* Screen ------------------------------------------------ */
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 18vw; /* adjust this value as needed */
  top: 0px;
  border-left: 1px solid #333;
  background-color: red;
  width: calc(100vw - 18vw); /* calculate the remaining width */
  
}

/* ------------------------------------------------------- */

/* Profile ---------------------------------------------- */

.profile{
  background-color:#212121;
  width: 18vw;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  height: 30vh;
  padding-bottom: 40px;
  color: var(--nav-head-color);
}

.profile img{
   border-radius: 50%;
   width: 80px;
   height: 80px;
   padding: 10px;
   margin-left: 1.3vw;
   background-color: #333;
}

.name{
  margin-top: -3px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
  color: lightgray;
  font-size: 0.9rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title:first-of-type{
   padding-left: 6px;
   padding-bottom: 1px;
}

/* About Section */

.about-container{
  background-color: #212121;
  font-size: 7rem;
  padding: 90px 10px 20px 30px;
  height: 100vh;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--const-color);
}

.first-name{
  border: 1px solid var(--const-color);
  border-radius: 0.2rem;
  background-color: var(--const-color);
  padding: 4px;
  color: white;
}

.about-points{
  color: white;
  margin-left: -19px;
  margin-top: 30px;
  font-size: 1.1rem;
}

.about-points > li{
  margin-top: 3px;
}

.about-me{
  font-size: 1.2rem;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-me > i{
  margin-bottom: 15px;
}

.about-me > i span{
  padding: 10px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.social-profiles{
  position: relative;
  top: -40px;
}


.social-profiles a{
   color: var(--const-color);
   font-size:3rem;
   margin-right: 15px;
}

.social-profiles button{
  font-size: 1.3rem;
  height: 50px;
  position: relative;
  top: -10px;
  background-color: var(--const-color);
  color: white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}

.social-profiles button i{
  margin-right: 10px;
}
